*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    max-width: 100vw;
}
.hero-section {
    background-image:url(img.jpg);
    min-height: 100vh;
    width: 100vw;
    background-size: cover; /* to covers the enteire screen */
    background-repeat: no-repeat; /* stops the image repeatance*/
    background-position: center;
    background-blend-mode: overlay; /* the image will show darker ,as if a transparent black and usefull for text visibiilty*/
    background-color: rgba(0,0,0,0.5);
    position: relative; /* parent- section class */
    text-align:center;
}
.hero-text {
color: white;
width: inherit; /* for align the text in right format in mobile screen */
position: absolute; /* child- div class */
top: 50%;
left: 50%;
transform: translate(-50%,-50%);  /* use to modify the x-axis and y-axis value to position the text in center of te screen */
/* font-size: 10px; */
}

/* .hero-text > p{
font-size: 3em;
} */
.book-button,
.know-button{
    background-color: aqua;
    border: 2px solid black;
    border-radius: 20px; /* to make the button in oval shape*/
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer; /*when the user point on button then the cursor symbol*/
}
/* .about-us{
    float:left;
    width:50%;
    margin:10px 10px;
    text-align:center;
} */

.hero-section {
    text-align:center;
    margin-bottom: 20px;
}
.about-section > h1{
    text-decoration: underline;
}
.about-us{
 width:50%;
 
}
.about-heading,.know-button,.room-heading
{
    text-align: center;
}
.about-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
ul li{
    list-style:none;
}
.fa-solid{
    margin:10px;
}
.room-images img{
    /* background-image: url(project\room.jpg); */
    height: 400px;
    width: 600px;
float: right;

   /*  background-size: cover; */
}
.room-list h3,p{
    font-size: 20px;
    /*  */

}
.room-list p{
justify-content: left;
margin-right: 15px;

}
.room-type-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
padding-bottom: 20px;
    margin: 0px 15px;
}
.help-button{
    background-color: brown;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding:5px 15px;
    color: white;
    border-radius: 10px;
    letter-spacing: 2px;
    cursor: pointer;
}
form{
border: 2px solid grey;
width: max-content;
padding: 20px;
border-radius: 20px;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
label{
    font-size: 20px;

}
input,select{
    padding: 5px;
    font-size: 15px;
}

/* @media only screen and(min-width:500px) {
*{
    max-width:100vw;
}
    .hero-text>h1{
    font-size:1.5rem;
}
p,.about-us{
    font-size:1rem;
}

} */
@media only screen and (max-width:980px){
.about-heading,.room-heading{
    text-decoration: underline;
    font-size: 1.5rem;
} 

.hero-text>p,.about-us{
    font-size: 1rem;
}
.about-us{
 width:100%;
 padding: 20px 20px;
}

.form-heading{
    font-size: 12px;
    text-decoration: underline;
}
 .about-section,.room-type-container,.room-list{
   /*  display: flex; */
   /*  justify-content: space-around;
    align-items: center; */
    flex-direction: column;
    padding: 0rem 0.5rem;
} 
.room-type-container{
    display:block;
}
.room-list >h3{
text-align: center;
}
.room-images img{
    /* background-image: url(project\room.jpg); */
    height: 300px;
    width: 500px;
/* float: right; */
/* display: block; */
margin: auto;
padding-left: 20px;
padding-bottom: 20px;
/* margin-top:300px; */
   /*  background-size: cover; */
}
.hero-text {
width: inherit; /* for align the text in right format in mobile screen */
}
.amenities{
    font-size: 15px;
    padding: 20px;
}

label{
    font-size: inherit;
}
form{
    margin: 0rem 0rem 2rem 0rem;
}
}


@media only screen and(min-width:501px) and (max-width:980px){
.hero-text>h1,.about-heading,.room-heading{
    text-decoration: underline;
    font-size: 1.8rem;
} 
p{
    font-size: 1.1rem;
}
}